*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url(/assets/background.png);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: system-ui;
  font-weight: bold;
}

.logo{
  width: 250px;
  cursor: pointer;
}

.cart{
  width: 40px;
  cursor: pointer;
}

nav{
  flex: 1;
  padding-left: 60px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #333;
}

.content h1{
  font-size: 50px;
  font-family: system-ui;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #232d60;
}

.content{
  margin-left: 10%;
  margin-right: 10%;
}

.content .collection{
  display: inline-block;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: large;
  font-family: system-ui;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.arrow-icons{
  width: 40px;
  display: flex;
  margin-left: 10%;
}

.arrow-icons img{
  width: 40px;
  margin-top: 15px;
  margin-right: 15px;
}

.featured-img{
  height: 90%;
  position: absolute;
  bottom: 0%;
  right: 20px;
}

.social-links{
  transform: rotate(-90deg);
  position: absolute;
  left: -80px;
  bottom: 180px;
}

.social-links a{
  color: #6a7199;
  margin-bottom: 20px;
  text-decoration: none;
  padding-right: 20px;
  font-size: 18px;
  font-family: system-ui;
  font-weight: bold;
}

.s1{
  padding: 70px 200px;
}

#feature{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .featured-box{
  width: 150px;
  text-align: center;
  padding: 20px 75px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .featured-box:hover{
  box-shadow: 10px 10px 60px rgba(255, 0, 0, 0.03);
}

#feature .featured-box img{
  width: 100%;
  margin-bottom: 8px;
}

#feature .featured-box h4{
  padding: 9px 8px 6px 8px;
  line-height: 0.8;
  border-radius: 4px;
  color: #000000; 
  background-color: #fddde4; 
}



