/* Home Page */

*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url(/assets/background.png);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: system-ui;
  font-weight: bold;
}

.logo{
  width: 250px;
  cursor: pointer;
}

.cart{
  width: 40px;
  cursor: pointer;
}

nav{
  flex: 1;
  padding-left: 60px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #333;
}

.content h1{
  font-size: 50px;
  font-family: system-ui;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #232d60;
}

.content{
  margin-left: 10%;
  margin-right: 10%;
}

.content .collection{
  display: inline-block;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: larger;
  font-family: system-ui;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.arrow-icons{
  width: 40px;
  display: flex;
  margin-left: 10%;
}

.arrow-icons img{
  width: 40px;
  margin-top: 15px;
  margin-right: 15px;
}

.featured-img{
  height: 90%;
  position: absolute;
  bottom: 0%;
  right: 20px;
}

.social-links{
  transform: rotate(-90deg);
  position: absolute;
  left: -80px;
  bottom: 180px;
}

.social-links a{
  color: #6a7199;
  margin-bottom: 20px;
  text-decoration: none;
  padding-right: 20px;
  font-size: 18px;
  font-family: system-ui;
  font-weight: bold;
}

.s1{
  padding: 70px 200px;
}

#feature{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  column-gap: 10px;
  row-gap: 0px;
  width: 550px;
}

#feature .featured-box{
  width: 150px;
  text-align: center;
  padding: 20px 75px;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .featured-box img{
  width: 100%;
  margin-bottom: 8px;
}

#feature .featured-box h4{
  padding: 4px 2px 2px 6px;
  line-height: 0.8;
  border-radius: 6px;
  color: #000000; 
  background-color: #fddde4; 
}

#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .fhead{
  font-size: 30px;
  font-weight: bold;
  font-family: system-ui;
  margin-bottom: 10px;
}

#product1 .pro{
  width: 20%;
  min-width: 250px;
  padding: 8px 20px;
  border: 4px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

#product1 .pro:hover{
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.2);
}

#product1 .para{
  font-size: 14px;
  font-family: system-ui;
  margin-bottom: 10px;
}

#product1 .pro img{
  width: 90%;
  border-radius: 30px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 16px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
}

#product1 .pro .des{
  font-size: 16px;
  color: rgb(221, 221, 16);
}

#product1 .pro h4{
  padding-top: 8px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(4, 82, 56);
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: 500;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.section-m1{
  margin: 40px 0;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/assets/banner/b1.jpg);
  color: #fddde4;
  background-position: center;
  padding-bottom: 20px;
  border-radius: 20px;
}

#banner h4{
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
}

#banner h2{
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  padding: 10px 0px;
}

#banner h2 span{
  color: #b93333;
  font-size: 90px;
  font-weight: bold;
  padding: 10px 5px;
}

button.normal{
  font-size: 20px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000000;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

#banner button:hover{
  background: #088178;
  color: #fff;
}

#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(/assets/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #021127;
  padding: 50px 100px;
  font-size: 20px;
  border-radius: 20px;
}

#newsletter h4{
  font-size: 40px;
  font-weight: 700;
  color: #eee;
}

#newsletter p{
  font-size: 20px;
  font-weight: 600;
  color: rgb(157, 228, 216);
}

#newsletter p span{
  font-size: 20px;
  font-weight: 600;
  color: rgb(208, 255, 0);
}

#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter input{
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 10px;
  padding-top: 20px;
}

footer h4{
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
}

footer p{
  font-size: 15px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 15px;
  text-decoration: none;
  color: #222;
  margin: 0 0 8px 0;
  margin-bottom: 8px;
}

footer .follow i{
  margin-top: 8px;
  color: #465b52;
  cursor: pointer;
}

footer .copyright{
  width: 100%;
  text-align: center;
}

/* Shop Page */

#page-header{
  background-image: url(/assets/banner/b2.jpg);
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 15px;
}

#page-header h1{
  font-size: 60px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

#page-header h2{
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

#page-header p{
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

#pagination{
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

#soon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 0;
}
